<h1>ブログ一覧</h1>
<a class="btn btn-primary" href="/blogs/new" role="button">Create a blog</a>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% blogs.forEach(blog => { %>
      <tr>
        <td>
          <%= blog.title %>
        </td>
        <td><%= blog.body %></td>
        <td>
          <button class="btn btn-block btn-primary like" id="<%= blog._id %>"><i class="fa fa-thumbs-up"><%= blog.likes %></i> </button>
        </td>
        <td>
          <button class="btn btn-block btn-primary dislike" id="<%= blog._id %>"><i class="fa fa-thumbs-down"><%= blog.dislikes %></i> </button>
        </td>
        <td>
          <a href="<%= `/blogs/${blog._id}/edit` %>">Edit</a>
        </td>
        <td>
          <a 
            href="<%= `/blogs/${blog._id}/delete?_method=DELETE` %>"
            onclick="return confirm('本当にこのブログを削除しますか？')"
          >
            DELETE
          </a>
        </td>
        <td>
          <a 
            href="<%= `/blogs/${blog._id}/comments/new` %>"
          >
            Add Comment
          </a>
        </td>
      </tr>
      <% blog.comments.forEach(comment => { %>
        <tr>
          <td><%= comment.author %></td>
          <td><%= comment.comment %></td>
        </tr>
      <% }) %>
    <% }) %>
  </tbody>
</table>